%br
%br
%table{:width => "980px", :border => "0px", :height => "200px"}
  %tr
    %td{{:valign => "bottom", :align => "center"}}
      = link_to "Добавить ссылку", resource(:links,:new)
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      = link_to " Журнал закачек", resource(:links)
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      = link_to "Аудио",  url(:controller => "search", :action => "audio")
      %img{:src =>"/images/new.gif"}
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      = link_to "Видео",  url(:controller => "search", :action => "video")
      %img{:src =>"/images/new.gif"}
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      %a{ :href => "http://pump.kg/reklama.html", :style => " color:#c55" }
        %span{ :style => "color:#c55" }
          Реклама на сайте
  %tr
    %td
      %p
        =" "
  %tr
    %td{:align => "center"}
      = form(:action => url(:controller => "search", :action => "index")) do
        %p{:style =>" font-weight:bold; font-size:10pt"}
          %b
            = "Поиск по URL:"
        %p
          = text_field :name => "url", :size => 100
        %p
          = submit "Найти"