%table{:width => "980px", :border => "0px", :height => "20px"}
  %tr
    %td{:align=>"left", :width => "150"}
      = link_to "Поиск", url(:controller => "search", :action => "index")
    %td{:align => "left", :width => "150px"}
      = link_to " Журнал закачек", resource(:links)
    %td{:align => "right"}
      = link_to "Реклама на сайте","/reklama.html"
  %tr
    %td
      &nbsp
  %tr
    %td
      = form(:action => url(:controller => "search", :action => "index")) do
        %p
          = text_field :name => "url", :size => 50, :label => "Поиск по url:"
        %p
          = submit "Найти"