%br/
%table{:width => "985px", :border => "0px", :align => "center", :valign => "top",:bordercolor => "#336699", :cellpadding => "0", :cellspacing => "0" }
  %tr
    %td{:align => "center", :valign => "bottom"}
      = link_to "Добавить ссылку", resource(:links,:new)
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      = link_to "Поиск", url(:controller => "search", :action => "index")
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      = link_to "Аудио",  url(:controller => "search", :action => "audio")
      %img{:src =>"/images/new.gif"}
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      = link_to "Видео",  url(:controller => "search", :action => "video")
      %img{:src =>"/images/new.gif"}
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      %a{ :href => "http://pump.kg/reklama.html", :style => " color:#c55" }
        %span{ :style => "color:#c55" }
          Реклама на сайте
      %br
      %br
  %tr
    %td{:align => "center"}
     
  %tr{:valign => "top", :align =>"left"}
    %td
      %table{:width => "485px", :border => "0px", :width => "865px", :cellspacing => "10px" }
        %tr{ :align => "left" }
          %th{:width => "700px"}
            %h2
              Файл
          %th
            %h2
              Размер (Мб)
          %th
            %h2
              
        - @audio_links.each do |link|
          %tr{ :align => "Left" }
            %td{:width => "250"}
              = link_to link.file_path, absolute_url('files/' + URI.escape(link.file_path)) if link.downloaded? and not link.file_path.nil?
              %h5= h link.description
            %td
              = link.file_size.nil? ? '-' : (link.file_size / 1.megabyte)
            %td
              %a{:href => ("/player/audio/" + link.id.to_s)}
                %img{:src => "/images/play.gif", :border => "0px"}
                
    %td{ :width => "155", :align => "right" }
      %object{:classid => "clsid:D27CDB6E-AE6D-11cf-96B8-444553540000", :codebase => "http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0", :width => "120", :height => "600"}
        %param{:name => "movie", :value => "/banner/120_600.swf"}
        %param{:name=>"quality", :value=>"high"}
        %embed{:src => "/banner/120_600.swf", :quality => "high", :pluginspage => "http://www.macromedia.com/go/getflashplayer", :type => "application/x-shockwave-flash", :width => "120", :height => "600"}