%br/
%table{:width => "985px", :border => "0px", :align => "center", :valign => "top",:bordercolor => "#336699", :cellpadding => "0", :cellspacing => "0" }
  %tr
    %td{:align => "center", :valign => "bottom"}
      = link_to "Добавить ссылку", resource(:links,:new)
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      = link_to "Поиск", url(:controller => "search", :action => "index")
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      = link_to "Аудио",  url(:controller => "search", :action => "audio")
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      = link_to "Видео",  url(:controller => "search", :action => "video")
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      %a{ :href => "http://pump.kg/reklama.html", :style => " color:#c55" }
        %span{ :style => "color:#c55" }
          Реклама на сайте
      %br
      %br
  
  %tr
    %td{:align => "center"}
     
  %tr{:valign => "top", :align =>"left"}
    %td
      %table{:width => "830px", :border => "0" }
        %tr{ :align => "left" }
          %th
            %h2
              Файл
          %th
            %h2
              Размер
              %br/
              (Мб)
          %th
            %h2
              
        - @video_links.each do |link|
          %tr{ :align => "Left" }
            %td{:width => "250"}
              = link_to link.file_path, absolute_url('files/' + URI.escape(link.file_path)) if link.downloaded? and not link.file_path.nil?
              %h5= h link.description if link.downloaded? and not link.file_path.nil?
            %td= link.file_size.nil? ? '-' : (link.file_size / 1.megabyte) if link.downloaded? and not link.file_path.nil?
            
    %td{ :width => "155" }
      %p{ :align => "center" }
      %p{ :align => "center" }
      %p{ :align => "center" }