%br/
%table{:width => "985px", :border => "0", :align => "center", :valign => "top",:bordercolor => "#336699", :cellpadding => "2", :cellspacing => "2" }
  %tr
    %td{:align => "left"}
      %p
        = link_to "Добавить ссылку в очередь", resource(:links, :new)
      %br/
  %h2 Ограничение на размер файла - 2.5Гб
  %tr{:valign => "top"}
    %td
      %table{:width => "830px", :border => "0" }
        %tr{ :align => "left" }
          %th
            %h2
              Ссылка
          %th
            %h2 
              Состояние
          %th
            %h2
              Размер(мб)
          %th
            %h2
              Скорость(б\с)
          %th
            %h2
              Время(с)
          %th
            %h2
              Скачано
          %th
            %h2
              
        - @links.each do |link|
          %tr{ :align => "Left" }
            %td{:width => "250"}
              = link_to link.url[0..30], link.url
              %h5=link.file_about
            %td
              ="В очереди" if link.status == "queued"
              ="Качаю" if link.status == "downloading"
              ="Готово" if link.status == "downloaded"
              ="Ошибка" if link.status == "failure"
            %td
              = (link.file_size / 1000000) if (link.file_size != nil) &&(link.file_size > 0)
            %td= link.download_speed
            %td= link.downloading_time
            %td= link.complete_percentage.nil? ? '-' : "#{link.complete_percentage}%"
            %td= link_to 'Скачать файл', absolute_url('files/' + URI.escape(link.file_path)) if link.downloaded?
    %td{:width => "155"}
      %p{:align => "center"}
      %p{:align => "center"}
      %p{:align => "center"}
  = will_paginate @links
        
      
       