= error_messages_for @link, :header => "<h2>Ошибка</h2>"
%br/
%table{:align=> "center", :width => "995px", :height =>"450px", :border=>"0px"}
  %tr
    %td
      %table{:width => "980px", :border => "0px", :height => "20px"}
        %tr
          %td{:align=>"left", :width => "150"}
            = link_to "Поиск", url(:controller => "search", :action => "index")
          %td{:align => "left", :width => "150px"}
            = link_to " Журнал закачек", resource(:links)
          %td{:align => "right"}
            = link_to "Реклама на сайте","/reklama.html"
  %tr{:align=> "center", :width => "985px"}
    %td{:width => "830px", :valign => "top"}
      = form_for @link, :action => resource(:links) do
        %h2 Ограничение на размер файла - 300 Мб
        %p{:align=> "left"}
          %b
            = "URL:"
        %p{:align=> "left"}
          = text_field :url,:size => 50        
        %p{:align=> "left"}
          %b
            = "Описание:"
        %p{:align=> "left"}
          = text_field :description, :size =>100
        %p{:align =>"left"}
          = submit "Добавить ссылку"