%div{:style => "width:985px; height:365px; max-width:985px; max-height:360px align=\"left\""}
  %table{:align=> "center", :width => "985px", :height =>"20px", :border=>"0px"}
    %tr
      %td{:valign => "bottom", :align => "center"}
        = link_to " Журнал закачек", resource(:links)
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        = link_to "Поиск", url(:controller => "search", :action => "index")
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        %a{ :href => "http://pump.kg/reklama.html", :style => " color:#c55" }
          %span{ :style => "color:#c55" }
            Реклама на сайте
    %tr{:align=> "center", :height => "340px"}
      %td{:width => "830px", :valign => "top"}
        = form_for @link, :action => resource(:links) do
          %br
          %h2 Ограничение на размер файла - 300 Мб
          %p{:style =>" font-weight:bold; font-size:10pt"}
            %b
              = "URL:"
          %p{:align=> "center"}
            = text_field :url, :size => "100", :maxlength => "250"
          %p{:style =>" font-weight:bold; font-size:10pt"}
            %b
              = "Описание:"
          %p{:align=> "center"}
            = text_field :description, :size => "100", :maxlength => "250"
          %p{:align =>"center"}
            = submit "Добавить ссылку"
          %br
          %h4
            = error_messages_for @link, :header => "<h4>Ошибка</h4>"

      %td{:width => "155px", :valign => "top"}
        %a{:href => "http://myforum.mega.kg/forums/"}
          %img{:src => "/banner/Index_banner 150_180_1.png", :border => "0",:margin =>"0px"}
