= error_messages_for @link, :header => "<h2>Ошибка</h2>"
%br/
%table{:align=> "center", :width => "995px", :height =>"450px"}
  %tr
    %td
      %table
        %tr{:align=>"left"}
          %td
            %p
              = link_to "Поиск", :url_search
          %td
            %p
              = link_to " Журнал закачек", resource(:links)
          %td
            %p
              = link_to "Реклама на сайте","/reklama.html"
  %tr{:align=> "center", :width => "985px"}
    %td{:width => "830px", :valign => "top"}
      = form_for @link, :action => resource(:links) do
        %h2 Ограничение на размер файла - 300 Мб
        %p{:align=> "left"}
          %b
            = "URL:"
        %p{:align=> "left"}
          = text_field :url,:size => 50        
        %p{:align=> "left"}
          %b
            = "Описание:"
        %p{:align=> "left"}
          = text_field :description, :size =>100
        %p{:align =>"left"}
          = submit "Добавить ссылку"
  %tr{:align=> "center", :width => "985px"}
    %td
      = form_for :link, {:action => "url_search" } do
        %h2 Поиск
        %p{:align=> "left"}
          %b
            = "Чего ищем:"
        %p{:align=> "left"}
          = text_field :size => 150
        %p{:align =>"left"}
          = submit "Поиск"